body{
    margin: 0;
    /* font-family: ; */
}
.navbar{
    display: inline;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(179, 244, 155);
    text-align: right;
    z-index: 1;
}
.navbar img
{
    float: left;
    width: 70px;
    height: 70px;
}
.navbar h1
{
    float: left;
    size: 36px;
    margin: 15px;
    margin-right: 400px;
}
ul{
    margin: 0;
    padding: 0;
    background-color: #333;
}
li{
    display: inline;
    background-color: aquamarine;
}
li a{
    display: block;
    color: rgb(47, 103, 255);
    font-weight: bolder;
    font-size: x-large;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 21.5px 30px;

}
li a:hover{
    background-color: rgb(152, 205, 132);
}
.mainblock{
    position: relative;
    top: 70px;
    height: auto;
}
.mainblock .mainpicture
{
    /* height: auto; */
    width: 70%;
    position: relative;
    z-index: -1;
    float: left;
}
.mainblock .mainpicture img{
    height: 100%;
    width: 100%;
}
.maintext{
    width: 25%;
    float: left;
    margin: 15px 15px;
    text-align:"justify";
    text-justify: "inter-word";
    margin-bottom: 0;
}
.mainblock .maintext h1{
    margin: 0;
}
.mainblock .maintext p{
    padding: auto;
    font-size: large;
    font-weight: bolder;
}
#catalogueButton{
    position: absolute;
    top: 75%;
    left: 38%;
    width: 200px;
    height: 50px;
    border-width: 0px;
    box-shadow: 0px 0px 6px #0000005b;
    border-radius: 50px;
    font-size: 21px;
    background-color: rgb(15, 252, 141);
    color: #FE0F5F;
    font-weight: bolder;
    transition: 0.15s;
}
#catalogueButton:hover{
    background-color: rgb(42, 223, 136);
    box-shadow: 0px 0px 8px #0000005b;
    transform: scale(105%);
}

 .footer{
    margin: 0;
    margin-top: 70px;
    background-color: #2cdaf9;
    width: 100%;
    bottom: 0%;
    float: left;

}
.workHours{
    right: 0px;
    float: right;
}
.footer p, .footer h2{
    margin: 0;
    padding: 15px;
    font-weight: bold;
}
.footer h2{
    padding-bottom: 0;
}
.fa-facebook{
    float: left;
    background: #3B5998;
    color: white;
}
.fa-instagram{
    float: left;
    color: white;
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fa{
    position: relative;
    padding: 10px;
    font-size: 50px !important; 
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
    width: 60px;
    margin-top: 50px;
    margin-left: 30px;
}
.fa:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
p{
    font-family: 'Times New Roman', Times, serif;
}



/* EVENTS */





/* EVENTS END */



/* CONTACT */



/* CONTACT END */



/* ABOUT GAMES */
.about-games{
    position: relative;
    width: auto;
    height: 150%;
    border-collapse: collapse;
    text-align: center;
    top: 70px;
}

.about-games img{
    margin: 15px;
}
.about-games td{
    width: 50%;
    height: 50%;
    border: 5px solid #0FFF50;
    position: relative;
}


.firstImage img{
    float: left;
    width: 50%;
    height: 50%;
}

.secondImage img{
    width: 50%;
    height: 50%;
    float: left;
}

.thirdImage img{
    width: 50%;
    height: 50%;
    float: left;
}

.fourthImage img{
    width: 50%;
    height: 50%;
    float: left;
    z-index: -1;
}

.game-information{
    width: 250px;
    height: fit-content;
    position: absolute;
    top: -10px;
    right: 8%;
    margin-bottom: 0;
}

.about-games h1{
    font-size: x-large;
}

.about-games input{
    position: relative;
    border: none;
    background-color: #8B00FF;
    border-radius: 30px;
    font-size: medium;
    padding: 10px;
    color: white;
    font-weight: bolder;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: -10px;
}

.about-games input:hover{
    position: relative;
    transform: rotate(-10deg) scale(1.1);
}

.about-games input:active{
    background-color: #3B5998;
}
/* ABOUT GAMES END*/